:root{
    --spotify-background:#f6f6f6; 
    --spotify-items-background: #ececec;
    --spotify-items-border: #d9d9d9;
    --header-elements-size: 20px;
    --icon-before: gray;
    --icon-after: black;
    --heading-font-weight: 600;
    --button-background : #DCDCDC;
    --button-hover-background : #C0C0C0;
    --playlist-desc: 11px;

}

body{
    background-color: var(--spotify-background);
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    padding: 0;


}

.layout{
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 115px 1fr auto;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px ;
    grid-template-areas:
        "header main"
        "sidebar main"
        "sidebar footer"
    ;

}

.item{
    border: 1px solid var(--spotify-items-border);
    border-radius: 5px;
}
/* header container */
.header-container{
    grid-area : header;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--icon-before);
    font-weight: var(--heading-font-weight);
    background-color: var(--spotify-items-background);
}
.home{
    margin-bottom: 1rem;
}
.header-icon{
    margin-right: 0.9rem;
    color: var(--icon-after)
}
.home-span{
    color : var(--icon-after)
}
.search-icon{
    margin-right: 0.9rem;
}
.search {
    display: flex;
    gap: 6px;
    cursor: pointer;
    color: var(--icon-before);       
}
.search:hover .search-icon,
.search:hover .search-span {
    color: var(--icon-after);        /* color on hover */
    transform: scale(1.05);
}
.fa-magnifying-glass{
    color: var(--icon-before);
}
.fa-magnifying-glass:hover{
    color: var(--icon-after)
}


/* sidebar container */
.sidebar-container{
    grid-area: sidebar;
    background-color: var(--spotify-items-background);
    padding:1rem;

}
.fa-solid{
    transition: transform 0.2s ease;
}
/* all icons should change color when hovered */
.fa-solid:not(.fa-play):hover , .fa-regular:hover{         
    color: var(--icon-after);
    transform: scale(1.05);
}

/* aside{
    position: fixed;
    left: 10px;
    top: 120px;
    height: cal(100vh-115px);
} */
.lib-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.lib-icon{
    width: 20px;
    filter: brightness(0) invert(50%);
    position: relative;
}
.lib-icon:hover{
    filter: brightness(50%) invert(0);
    transform: scale(1.05);
}
.sidebar-heading{
    position: absolute;
    left: 60px;
    font-weight: var(--heading-font-weight);
    color: var(--icon-before)
}
.fa-plus{
    position: absolute;
    left: 200px;
    color: var(--icon-before);
}
.fa-plus:hover{
    color: var(--icon-after);
    border-radius: 50%;
}
.fa-arrow-right{
    position: absolute;
    color : var(--icon-before);
    left: 240px;
}
.fa-arrow-right:hover{
    color : var(--icon-after);
}
.playlist-menu{
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
    margin-bottom: 1rem;
}
.button{
    border:0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--button-background);
    font-size: 12px;
    color: black;
    font-weight: bold;
    transition: transform 0.2s ease;
}
.button:not(.btn):hover{
    background-color: var(--button-hover-background) ;
    transform: scale(1.05);

}
.mag-icon{
    position: relative;
}

.recent{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem ;
    color: var(--icon-before);

}
.list-icon:hover .recent-span:hover,
.recent-span:hover .fa-solid{
    color: var(--icon-after);
    transform: scale(1.05);
}


.desc{
    font-weight: 500;
}
.recent-span{
    font-size: 13px;
}
.scrolling-sidebar-container{
    height: calc(100vh - 180px);
    overflow-y: scroll;
    scrollbar-width: none;

    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
}
.thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,
        #5038A0 0%,
        #5C3EBF 25%,
        #6A4FCB 50%,
        #4E68C8 75%,
        #2E77D0 100%);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.20);
}
.fa-heart{
    color: white;
}
.fa-thumbtack{
    transform: rotate(45deg);
    color: #8A7A4A;
}
.fa-play{
    font-size: 1.2rem;
}
.desc{
    position: relative;
}
.fa-circle{
    font-size: 2px;
    position: absolute;
    top:45px;
    left: 54px; 
}
.songs-count{
    font-size: var(--playlist-desc);
    color: var(--icon-before);
    margin-top:-10px;
}
.playlist{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    
}
.playlist-play{
    color: white;
    opacity: 0;
}
.playlist:hover{
    /* background-color: #f6f6f6; */
    opacity: 1;
}

.playlist-play{
    color: white;
    opacity: 0;
}
.playlist:hover .thumbnail{
    filter: brightness(0.6) blur(0.3px);
    margin-left: 3px;
}
.playlist:hover .playlist-play{
    opacity: 1;
}
.desc{
    font-size: 15px;
}
.list1{
    background-image: url("assests/DrumPractice.png");
    background-size: cover;
}
.list2{
    background-image: url("assests/Anirudh.png");
    background-size: cover;
}
.thumbnail2{
    border-radius: 50%;
    transition: filter 0.25s ease;
}
.list3{
    background-image: url("assests/ARR.png");
    background-size: cover;
}
.list4{
    background-image: url("assests/Sai.png");
    background-size: cover;
}
.list5{
    background-image: url("assests/DSP.png");
    background-size: cover;
}
.list6{
    background-image: url("assests/Yuvan.png");
    background-size: cover;
}
.list7{
    background-image: url("assests/Thaman.png");
    background-size: cover;
}
.list8{
    background-image: url("assests/Harsha.png");
    background-size: cover;
}
.list9{
    background-image: url("assests/vivek.png");
    background-size: cover;
}


.main-container{
    grid-area: main;
    background-color: var(--spotify-items-background);
    padding: 1rem;
    overflow-x: hidden;  /* To fix the Main-container from scrolling*/
    overflow-y: scroll;
}
.premium-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: end;
    /* height: 30px;
    width: 60px; */
}
.arrow-container{
    background-color: white;
    border-radius: 50%;
    /* padding: .5rem; */
    /* width: 150px;
    height: 150px; */
}
.fa-angle-left,
.fa-angle-right, .bell{
    color: var(--icon-before)
}
.premium-tab{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.prm-btn{
    background-color: var(--icon-after);
    color: white;
    transition: transform 0.2s ease;

}
.prm-btn:hover{
    transform: scale(1.05);
}
.Install-btn{
    background-color: white;
    color: var(--icon-after)
}
.prm-btn, .Install-btn{
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    border: 0;
    font-weight: bold;

}
.download{
    margin-right: .2rem;
}
.bell{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile{
    height: 30px;
    width: 30px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}
.album-menu{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.btn{
    background-color: var(--icon-after);
    color: white;
}
.album-menu{
    margin-bottom: 25px;
}
.daily-mix{
    display: grid;
    grid-template-columns: repeat(4, minmax(157px, 1fr));
    grid-template-rows: repeat(2, 50px);
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 10px;
}
.mix{
    background-color: var(--button-background);
    border-radius: .3rem;
    display: flex;
    gap: 10px;
}
.mix-img{
    width: 50px;
    height: 50px;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.25);

}
.mix-name{
    font-weight: bold;
    font-size: 13px;
}
.made-for-you{
    /* margin-top: 1.5rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.show-all{
    font-size: 13px;
    color: var(--icon-before);
    font-weight: bold;
}
.made-for-you-items{
    /* display: grid;
    grid-template-columns: repeat(7, minmax(150px, 170px));
    grid-template-rows: 1fr; */
    display: flex;
    overflow-x: scroll ;
    scrollbar-width: none;
    gap: 10px;
    
}
.suggestion-card{
    height: 250px;
    /* width: 170px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
.suggestion-card img{
    width: 150px;
    /* height: 150px; */
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
.made-for-desc{
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}
.para-span{
    font-weight: normal;
    font-size: small;
    color: var(--icon-before);
}
.jump-back-in-items{
    /* display: grid;
    grid-template-columns: repeat(7, minmax(150px, 170px));
    grid-template-rows: 1fr; */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: None;
    gap: 10px;
}
.made-for-desc{
    width: minmax(150px, 170px)
}


.footer-container{
    grid-area: footer;
    background-color: var(--spotify-items-background);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.footer-content{
    display: flex;
    flex-direction: column;

}
.footer-container a{
    margin-bottom: 1rem;
}
.footer-content2{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-media{
    height: 20px;
    width: 20px;
    padding: 10px;
    background-color: var(--button-background);
    border-radius: 50%;
}
.footer-container a{
    text-decoration: None;
    color: var(--icon-before);
}



