:root{
    --spotify-background:#f6f6f6; 
    --spotify-items-background: #ececec;
    --spotify-items-border: #d9d9d9;
    --header-elements-size: 20px;
    --icon-before: gray;
    --icon-after: black;
    --heading-font-weight: 600;
    --button-background : #DCDCDC;
    --playlist-desc: 11px;

}

body{
    background-color: var(--spotify-background);
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;


}

.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 115px 1fr 100px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px ;
    grid-template-areas:
        "header main"
        "sidebar main"
        "sidebar footer"
    ;

}

.item{
    border: 1px solid var(--spotify-items-border);
    border-radius: 5px;
}
/* header container */
.header-container{
    grid-area : header;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--icon-before);
    font-weight: var(--heading-font-weight);
    background-color: var(--spotify-items-background);
}
.home{
    margin-bottom: 1rem;
}
.header-icon{
    margin-right: 0.9rem;
    color: var(--icon-after)
}
.home-span{
    color : var(--icon-after)
}
.search-icon{
    margin-right: 0.9rem;
}

/* .home:hover .header-icon:hover{
    color: var(--icon-after);
}

.home:hover .home-span:hover{
    color: var(--icon-after);
} */

.search:hover .search-icon:hover{
    color: var(--icon-after);
}
.search:hover .search-span:hover{
    color: var(--icon-after);
}
.fa-magnifying-glass{
    color: var(--icon-before);
}


/* sidebar container */
.sidebar-container{
    grid-area: sidebar;
    background-color: var(--spotify-items-background);
    padding:1rem;
}
.lib-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.lib-icon{
    width: 20px;
    filter: brightness(0) invert(50%);
    position: relative;
}
.sidebar-heading{
    position: absolute;
    left: 60px;
    font-weight: var(--heading-font-weight);
    color: var(--icon-before)
}
.fa-plus{
    position: absolute;
    left: 200px;
    color: var(--icon-before);
}
.fa-arrow-right{
    position: absolute;
    color : var(--icon-before);
    left: 240px;
}

.button{
    border:0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--button-background);
    font-size: 12px;
}
.mag-icon{
    position: relative;
}

.recent{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem ;
    color: var(--icon-before)
}
.recent-span{
    font-size: 13px;
}
.thumbnail{
    width: 40px;
    height: 40px;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,
        #5038A0 0%,
        #5C3EBF 25%,
        #6A4FCB 50%,
        #4E68C8 75%,
        #2E77D0 100%);

}
.fa-heart{
    color: white;
}
.fa-thumbtack{
    transform: rotate(45deg);
    color: #8A7A4A;
}
.desc{
    position: relative;
}
.fa-circle{
    font-size: 2px;
    position: absolute;
    top:45px;
    left: 54px; 
}
.songs-count{
    font-size: var(--playlist-desc);
    color: var(--icon-before);
    margin-top:-10px;
}
.playlist{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
}
.desc{
    font-size: 15px;
}
.list1{
    background-image: url("assests/DrumPractice.png");
    background-size: cover;
}
.list2{
    background-image: url("assests/Anirudh.png");
    background-size: cover;
}
.thumbnail2{
    border-radius: 50%;
}
.list3{
    background-image: url("assests/ARR.png");
    background-size: cover;
}
.list4{
    background-image: url("assests/Sai.png");
    background-size: cover;
}
.list5{
    background-image: url("assests/DSP.png");
    background-size: cover;
}
.list6{
    background-image: url("assests/Yuvan.png");
    background-size: cover;
}
.list7{
    background-image: url("assests/Thaman.png");
    background-size: cover;
}


.main-container{
    grid-area: main;
    background-color: var(--spotify-items-background);
}
.footer-container{
    grid-area: footer;
    background-color: var(--spotify-items-background);
}



